.button {
    border-radius: 5px;
    border: 1px transparent;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--color-blue);
    color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.button:hover {
    background-color: var(--color-blue-hover) ;
}

.deleteBtn {
    background-color: var(--color-red);
}
.deleteBtn:hover {
    background-color: var(--color-red-hover);
}