.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.modal {
    background: var(--color-pink);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalHeader {
    font-size: var(--font-size-medium);
    padding: var(--padding-Xsmall);
    color: white;
}
.formContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.inputContainer {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.actionsBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: var(--padding-Xsmall);
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}